<h3 class="text-center">Para qual acordo você fez o pagamento?</h3>  

<accordion [isAnimated]="true" [closeOthers]="true">
  
  <accordion-group *ngIf="mostraAbaTvVirtua()">
    <button class="btn btn-link btn-block clearfix btn-accordion" accordion-heading (click)="getAllOpcoesTvVirtua()" [class.mobile-hidden]="!showHeader">
      <img src="assets/icons/tv.jpg" class="produto-img" alt="...">
      <div class="pull-left float-left produto-heading"><span>TV / Virtua</span> 
        <span class="movelLabel" *ngIf="movelLabel">Débitos pendentes</span>
      </div>        
    </button>  
    <div class="loader-wrap-wrap" *ngIf="loader">  
        <div class="loader-wrap">
          <div class="loader"></div>
        </div>  
      </div>
      
    <div *ngIf="!loader && apiRestService.dividasTvVirtua" class="row up-15px">
       
     <div class="col-xl-4" *ngFor="let div of apiRestService.dividasTvVirtua.data.Dividas.Divida; let ind = index"> 
      <div class="metodo-pagamento">
        <div class="metodo-de-pagamento">
          <!--<span class="font-weight-bold">Valor total: R$ {{ getValorTotal(div.CodigoTitulo) }} </span><br>-->
          <div *ngIf="div.Parcelas.ParcelaDivida.length">
            <div *ngFor="let par of div.Parcelas.ParcelaDivida" class="text-left">
              {{ par.Vencimento }} - {{ par.DescricaoItemExtrato }}
            </div>
          </div>
          <div *ngIf="div.Parcelas.ParcelaDivida.Vencimento">
              {{ div.Parcelas.ParcelaDivida.Vencimento }} - {{ div.Parcelas.ParcelaDivida.DescricaoItemExtrato }}
          </div>
        </div>
        <p class="btn btn-acessar">Paguei este débito</p>
      </div>
    </div>    
  </div>
  <div *ngFor="let acordo of acordosTvVirtua">
    <div *ngIf="acordo.ParcelasAcordo.ParcelaAcordo.length">
        <div *ngFor="let par of acordo.ParcelasAcordo.ParcelaAcordo; let ind = index" class="metodo-pagamento">
          <div class="metodo-pagamento">   
          <div class="metodo-de-pagamento">
              {{ par.DataVencimento }} - {{ par.StatusParcelaAcordo }}
          </div>   
          <p class="btn btn-acessar">Paguei este débito</p>
        </div>        
      </div>
     </div>
     <div *ngIf="acordo.ParcelasAcordo.ParcelaAcordo.CodigoParcelaAcordo">
        <div class="metodo-pagamento">    
          <div class="metodo-de-pagamento">
            {{ acordo.ParcelasAcordo.ParcelaAcordo.DataVencimento }} - {{ acordo.ParcelasAcordo.ParcelaAcordo.StatusParcelaAcordo }}
          </div>
          <p class="btn btn-acessar">Paguei este débito</p>
        </div>
     </div>
  </div>
  </accordion-group>

  <accordion-group *ngIf="mostraAbaNetfone()">
    <button class="btn btn-link btn-block clearfix btn-accordion" accordion-heading (click)="getAllOpcoesNetfone()" [class.mobile-hidden]="!showHeader">
      <img src="assets/icons/phone.jpg" class="produto-img" alt="...">
      <div class="pull-left float-left produto-heading"><span>NETFONE</span> 
        <span class="movelLabel" *ngIf="movelLabel">Débitos pendentes</span>
      </div>        
    </button>  
   
    <div class="loader-wrap-wrap" *ngIf="loader">  
        <div class="loader-wrap">
          <div class="loader"></div> 
        </div>  
      </div>
      
    <div *ngIf="!loader && apiRestService.dividasNetfone" class="row up-15px"> 
     <div class="col-xl-4" *ngFor="let div of apiRestService.dividasNetfone.data.Dividas.Divida; let ind = index"> 
      <div class="metodo-pagamento">
        <div class="metodo-de-pagamento">
            <div *ngIf="div.Parcelas.ParcelaDivida.length">
                <div *ngFor="let par of div.Parcelas.ParcelaDivida" class="text-left">
                  {{ par.Vencimento }} - {{ par.DescricaoItemExtrato }}
                </div>
              </div>
              <div *ngIf="div.Parcelas.ParcelaDivida.Vencimento">
                  {{ div.Parcelas.ParcelaDivida.Vencimento }} - {{ div.Parcelas.ParcelaDivida.DescricaoItemExtrato }}
              </div>
            </div>
            <p class="btn btn-acessar">Paguei este débito</p>
      </div>
    </div>
  </div>
  <div *ngFor="let acordo of acordosNetfone">
    <div *ngIf="acordo.ParcelasAcordo.ParcelaAcordo.length">
        <div *ngFor="let par of acordo.ParcelasAcordo.ParcelaAcordo; let ind = index" class="metodo-pagamento">
            <div class="metodo-de-pagamento">
              {{ par.DataVencimento }} - {{ par.StatusParcelaAcordo }}
        </div>        
      </div>
     </div>
  </div>
  </accordion-group>
  
</accordion>